# The following settings can be defined in a deployment-specific .cfg file.
# This file must be referenced by the `LILYPAD_DEPLOY_SETTINGS` environment
# variable.

SECRET_KEY = ''     # random long string (required)
DEBUG = False       # bool (defaults to `False`)

MONGODB_HOST = ''   # (default 'localhost')
MONGODB_DATABASE = ''   # (default 'lilypad')
MONGODB_USERNAME = ''   # (default None)
MONGODB_PASSWORD = ''   # (default None)
MONGODB_PORT = ''       # (default 27017)